.portrait img {
    width: 200px;
}

.portrait {
    transition: transform 0.2s ease-in-out;
}

.portrait:hover {
    transform: scale(1.05);
}

.portrait h2 {
    background-color: black;
    color: white;
    margin-top: -5px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-style: italic;
}