.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.menu ul li{
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.menu ul li:first-child{
    align-items: center;
    margin-left: 3em;
}