.navChamp {
    display: flex;
    text-decoration: none;
    gap: 0.5rem;
    font-weight: bold;
}

.navChamp li:hover {
    border-bottom: 0.5em solid aqua;
    border-top: 0.5em solid aqua;
    border-radius: 10px;
}