.description {
    background-color: black;
    color: white;
    height: 100vh;
}

.description h1 {
    padding-bottom: 2rem;
}

.description h3 {
    padding-bottom: 0.5rem;
}

.description img {
    width: 100vw;
    height: 60vh;
}