.navBar {
    display: flex;
    flex: 5;
    flex-direction: row;
    align-items: center;
}

.navi {
    display: flex;
    font-weight: bold;
    margin-right: 60px;
}

.navBar ul {
    display: flex;
    flex: 1;
    margin-left: 100px;
}