.navBar {
    display: flex;
    flex: 5;
    flex-direction: row;
    align-items: center;
}

.navi {
    display: flex;
    font-weight: bold;
    font-size: 1.2em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 0.5em;
    text-decoration: none;
}


.navBar ul {
    display: flex;
    flex: 1;
    gap: 3em;
}